<template>
  <main class="resource-details">
    <section>
      <h2>{{ product.label }}</h2>

      <a
        v-if="product.externalLink"
        :href="product.externalLink"
        class="cta-button"
        target="_blank"
      >
        BUY NOW
      </a>

      <p>{{ product.description }}</p>
    </section>

    <section>
      <img
        :src="product.thumbnail || 'https://via.placeholder.com/100x100.png?text=?'"
        alt="Product or ingredient thumbnail"
      >
    </section>
  </main>
</template>

<script>
import { ref } from 'vue';

import { fetchProduct } from '@shared/requests/product-requests';

export default {
  props: {
    productId: { type: String, required: true }
  },
  async setup(props) {
    const product = ref(null);

    const refreshProduct = async () => {
      product.value = await fetchProduct(props.productId);
    };

    await refreshProduct();

    return {
      product
    };
  }
};
</script>
