<template>
  <div class="code-snippet">
    <label v-if="label">{{ label }}</label>
    <pre><code>{{ code }}</code></pre>

    <div class="button-group">
      <button @click="copyCodeToClipboard()">
        <fa-icon icon="clipboard" />
        Copy
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    code: { type: String, required: true },
    label: { type: String, default: null }
  },
  setup(props) {
    const copyCodeToClipboard = async () => {
      if (!navigator.clipboard) {
        alert('Your browser does not support this action.');
        return;
      }

      await navigator.clipboard.writeText(props.code);
    };

    return {
      copyCodeToClipboard
    };
  }
};
</script>

<style lang="scss">
@import '~@shared/styles/variables';

.code-snippet {
  pre {
    font-family: Consolas, monospace;
    background-color: $white;
    max-height: 14rem;
    max-width: 50rem;
    padding: 1.6rem;
    overflow-y: auto;
  }

  label + pre {
    margin-top: 1.2rem;
  }

  .button-group {
    margin-top: 1.6rem;
  }
}
</style>
