<template>
  <main class="login">
    <form
      class="card vld-parent"
      @submit.prevent="submitLogin()"
    >
      <loading-overlay :active="processingLoginRequest" />

      <label>Email</label>
      <input
        v-model="emailInput"
        type="text"
        :class="{ 'invalid': areCredentialsInvalid }"
      >

      <label>Password</label>
      <input
        v-model="passwordInput"
        type="password"
        :class="{ 'invalid': areCredentialsInvalid }"
      >

      <span
        v-if="areCredentialsInvalid"
        class="error-description"
      >
        Invalid email or password
      </span>

      <button type="submit">
        Login
      </button>
    </form>
  </main>
</template>

<script>
import { ref } from 'vue';
import { useRouter } from 'vue-router';

import { loginWithCredentials } from '@shared/requests/authentication-requests';
import { saveAuthenticationToken } from '@shared/authentication';

export default {
  setup() {
    const router = useRouter();

    const emailInput = ref('');
    const passwordInput = ref('');
    const areCredentialsInvalid = ref(false);
    const processingLoginRequest = ref(false);

    const submitLogin = async () => {
      processingLoginRequest.value = true;
      areCredentialsInvalid.value = false;

      try {
        const response = await loginWithCredentials({
          email: emailInput.value,
          password: passwordInput.value
        });

        saveAuthenticationToken(response.token);

        await router.push({ name: 'dashboard' });
      } catch (error) {
        areCredentialsInvalid.value = true;
      } finally {
        processingLoginRequest.value = false;
      }
    };

    return {
      emailInput,
      passwordInput,
      areCredentialsInvalid,
      processingLoginRequest,

      submitLogin
    };
  }
};
</script>

<style lang="scss">
.login {
  form {
    margin: auto;
  }
}
</style>
