<template>
  <span v-if="values.length < 1">
    No values selected yet.
  </span>

  <ul class="multiselect-values">
    <li
      v-for="(value, index) in values"
      :key="index"
    >
      <button
        @click="onValueRemoved(value)"
      >
        <fa-icon icon="times" />

        {{ generateLabel(value) }}
      </button>
    </li>
  </ul>

  <div class="multiselect-input form-input">
    <select v-model="selectedValue">
      <option
        v-if="selectableValues.length < 1"
        :value="null"
        disabled
      >
        No options left to select.
      </option>
      <option
        v-else
        :value="null"
        disabled
      >
        Select an option to add.
      </option>

      <option
        v-for="(selectableValue, index) in selectableValues"
        :key="index"
        :value="selectableValue"
      >
        {{ generateLabel(selectableValue) }}
      </option>
    </select>

    <button
      :disabled="loadingSelectableValues || !selectedValue"
      class="button--circle"
      aria-label="Add selected ingredient"
      @click.prevent.stop="onValueAdded(selectedValue)"
    >
      <fa-icon icon="plus" />
    </button>
  </div>
</template>

<script>
import { ref } from 'vue';

export default {
  props: {
    values: { type: Array, required: true },
    inputId: { type: String },
    inputPlaceholder: { type: String },
    generateLabel: { type: Function, default: () => ((value) => value) },
    getSelectableValues: { type: Function }
  },
  emits: [
    'value-added',
    'value-removed'
  ],
  setup(props, { emit }) {
    const selectableValues = ref([]);
    const selectedValue = ref(null);
    const loadingSelectableValues = ref(false);

    const updateSelectableValues = async (newValues) => {
      loadingSelectableValues.value = true;

      try {
        selectableValues.value = (await props.getSelectableValues(newValues || props.values)) || [];
      } finally {
        loadingSelectableValues.value = false;
      }
    };

    updateSelectableValues();

    const onValueAdded = (value) => {
      selectedValue.value = null;
      emit('value-added', value);
      updateSelectableValues([ ...props.values, value ]);
    };

    const onValueRemoved = (value) => {
      emit('value-removed', value);
      updateSelectableValues(props.values.filter((oldValue) => oldValue !== value));
    };

    return {
      selectableValues,
      selectedValue,
      loadingSelectableValues,
      onValueAdded,
      onValueRemoved
    };
  }
};
</script>

<style lang="scss">
.multiselect-values {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.6rem;

  li {
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
  }
}

.multiselect-input {
  button {
    margin-left: 1.6rem;
  }
}
</style>
