<template>
  <nav class="side-navigation">
    <section class="app-title">
      <h1>
        <router-link :to="{ name: 'dashboard' }">
          Ingredients Index
        </router-link>
      </h1>
    </section>

    <a
      class="button open-app-button"
      target="_blank"
      href="/"
    >
      <fa-icon icon="rocket" />
      Open App
    </a>

    <ul>
      <li
        v-for="(navigationOption, index) in navigationOptions"
        :key="index"
        :class="{ 'separator': !navigationOption.routeName }"
      >
        <router-link
          v-if="navigationOption.routeName"
          :to="{ name: navigationOption.routeName }"
        >
          <fa-icon
            :icon="navigationOption.icon"
            :style="{ 'color': navigationOption.iconColor }"
            fixed-width
          />

          {{ navigationOption.label }}
        </router-link>

        <template v-else>
          <fa-icon
            :icon="navigationOption.icon"
            fixed-width
          />

          {{ navigationOption.label }}
        </template>
      </li>
    </ul>
  </nav>
</template>

<script>
import { computed } from 'vue';

export default {
  setup() {
    const navigationOptions = computed(() => [
      {
        label: 'Content',
        icon: 'file-alt'
      },
      {
        routeName: 'universalSearch',
        label: 'Universal Search',
        icon: 'search',
        iconColor: '#ffb'
      },
      {
        routeName: 'ingredients',
        label: 'Ingredients',
        icon: 'leaf',
        iconColor: '#bfb'
      },
      {
        routeName: 'products',
        label: 'Products',
        icon: 'prescription-bottle',
        iconColor: '#bbf'
      },

      {
        label: 'Configuration',
        icon: 'cog'
      },
      {
        routeName: 'userConfiguration',
        label: 'Users',
        icon: 'user-friends',
        iconColor: '#fbf'
      },
      {
        routeName: 'databaseConfiguration',
        label: 'Database',
        icon: 'database',
        iconColor: '#fbb'
      },

      {
        label: 'Metrics',
        icon: 'chart-line'
      },
    ]);

    return {
      navigationOptions
    };
  }
};
</script>

<style lang="scss">
@import '~@shared/styles/variables';
@import '~@shared/styles/mixins';

.side-navigation {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 280px;
  display: flex;
  flex-direction: column;
  color: $white;
  background-color: $navy-1;

  @include box-shadow();

  .app-title {
    font-size: 2.2rem;
    padding: 2.2rem 3.2rem;
    background-color: $blue-1;

    @include box-shadow();
  }

  .open-app-button {
    margin: 3.2rem 2.4rem 0;
  }

  ul {
    list-style: none;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
  }

  li a {
    display: flex;
    align-items: center;
    padding: 1.6rem 3.2rem;
    font-size: 1.6rem;
    border-bottom: 1px $navy-2 solid;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover:not(.router-link-active) {
      padding-left: 3.8rem;
    }

    &.router-link-active {
      background-color: $navy-2;
      font-weight: bold;
    }
  }

  .separator {
    display: flex;
    align-items: center;
    padding: 1.6rem 3.2rem 1.6rem 1.6rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px $navy-2 solid;

    &:not(:first-child) {
      margin-top: 4.8rem;
    }
  }

  li svg {
    margin-right: 1.2rem;
  }
}
</style>
