<template>
  <!-- TODO: Create separated header component -->
  <header>
    <h1>
      <a href="/">
        <fa-icon icon="leaf" />

        <span class="full-app-name">
          {{ $t('app_name') }}
        </span>
      </a>
    </h1>
  </header>

  <suspense>
    <template #default>
      <router-view />
    </template>

    <!-- TODO: Add suspense fallback -->
  </suspense>

  <!-- TODO: Create separated footer component -->
  <Footer />
</template>

<script>
import Footer from './footer.vue';

export default {
  components: {
    Footer
  }
};
</script>

<style lang="scss">
@import '~@shared/styles/variables';
@import '~@shared/styles/mixins';

// TODO: Move this/clean it up. Create a custom header component.
header {
  @include box-shadow();

  padding: 1.6rem 2.8rem;
  // TODO: Use variables
  background-color: #226622;
  color: $white;

  h1 {
    font-size: 2.4rem;
  }

  h1 svg {
    margin-right: 2.4rem;
  }

  @include widescreen-only-element('.full-app-name', inline);
}
</style>
