<template>
  <footer>
    <locale-selector />

    <p class="disclaimer">
      THE STATEMENTS INCLUDED IN THIS WEBSITE HAVE NOT BEEN EVALUATED BY THE FOOD AND DRUG ADMINISTRATION.
      THESE PRODUCTS ARE NOT INTENDED TO DIAGNOSE, TREAT, CURE, OR PREVENT ANY DISEASE.
    </p>
  </footer>
</template>

<script>
import LocaleSelector from './components/locale-selector.vue';

export default {
  components: {
    LocaleSelector
  }
};
</script>

<style lang="scss">
@import '~@shared/styles/mixins';

footer {
  @include box-shadow();

  margin-top: auto;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .disclaimer {
    font-size: 1.2rem;
    // TODO: Use a variable;
    color: #777;
    margin-top: 2rem;
    max-width: 62rem;
  }
}
</style>
