@mixin box-shadow() {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

@mixin widescreen-only() {
  @media only screen and (min-width: 769px) {
    @content;
  }
}

@mixin widescreen-only-element($selector, $display: block) {
  #{$selector} {
    display: none;
  }

  @include widescreen-only() {
    #{$selector} {
      display: $display;
      @content;
    }
  }
}

@mixin scale-on-hover() {
  transition: transform 0.15s ease-out;

  &:hover {
    transform: scale(1.02);
  }
}

@mixin button-active-state($color, $lightenPercent: 12%) {
  &:active,
  &:focus {
    background-color: lighten($color, $lightenPercent);
  }
}
