$font-family-admin-content: 'Ubuntu', sans-serif;
$font-family-frontend-headings: 'Ubuntu', sans-serif;
$font-family-frontend-content: 'Open Sans', sans-serif;

$white: #ffffff;
$gray-1: hsl(206, 4%, 39%);
$navy-1: hsl(215, 33%, 26%);
$navy-2: hsl(215, 33%, 30%);
$navy-3: hsl(215, 33%, 34%);
$blue-1: hsl(204, 45%, 32%);
$red-1: hsl(0, 52%, 36%);
$pastel-blue: hsl(204, 45%, 94%);
