<template functional>
  <section class="hero">
    <div
      :style="{ 'background-image': `url(${backgroundUrl})` }"
      class="splash-container"
    >
      <div class="heading-content">
        <h2 class="title">
          {{ title }}
        </h2>

        <p
          v-if="subtitle"
          class="subtitle"
        >
          {{ subtitle }}
        </p>
      </div>
    </div>

    <div class="bottom-content">
      <slot />
    </div>
  </section>
</template>

<script>
export default {
  props: {
    title: { type: String, required: true },
    subtitle: { type: String, default: null },
    backgroundUrl: { type: String, required: true }
  }
};
</script>

<style lang="scss">
@import '~@shared/styles/mixins';

// TODO: I'm sure a lot of this could be generalized...

.hero {
  display: flex;
  flex-direction: column;

  .splash-container {
    @include box-shadow();

    position: relative;
    // TODO: Use variables
    color: #ffffff;
    background-size: cover;
    padding: 8.4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(280deg, hsl(100, 45%, 32%), hsl(215, 33%, 26%));
      opacity: 0.75;
    }
  }

  .heading-content {
    max-width: 64rem;
    padding: 1.6rem;
    margin: auto;
    z-index: 1;
  }

  .title {
    font-size: 4.2rem;
    margin-bottom: 1.6rem;
    z-index: 1;
  }

  .subtitle {
    font-size: 2.4rem;
    z-index: 1;
  }

  .text-content {
    z-index: 1;
  }

  .bottom-content {
    @include box-shadow();

    display: flex;
    align-items: center;
    margin-top: -1.6rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8rem 1.6rem;
    background-color: #ffffff;
    z-index: 1;
    min-height: 3.2rem;
    border-radius: 24px;
  }
}
</style>
