<template>
  <div class="locale-selector">
    <label for="locale-selector">
      Locale
    </label>

    <select
      id="locale-selector"
      v-model="$i18n.locale"
    >
      <option
        v-for="option in [ 'en-US', 'es' ]"
        :key="option"
        :value="option"
      >
        {{ option }}
      </option>
    </select>
  </div>
</template>

<style lang="scss">
.locale-selector {
  display: flex;
  align-items: center;

  label {
    margin-right: 1.6rem;
  }

  select {
    // TODO: Use variable
    border: 1px #777 solid;
    border-radius: 3px;
  }
}
</style>
