<template>
  <main>
    <h2>
      <fa-icon icon="database" />
      Database Configuration
    </h2>

    <div class="column-container">
      <div class="column">
        <div class="card vld-parent">
          <loading-overlay :active="processingResetRequest" />

          <h3>Reset database</h3>

          <p>Permanently remove all database content. <strong>This action cannot be undone!</strong></p>

          <div class="button-group">
            <button
              class="button--red"
              @click="onDatabaseResetRequested()"
            >
              <fa-icon icon="bomb" />
              Reset database
            </button>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card vld-parent">
          <loading-overlay :active="processingSeedRequest" />

          <h3>Seed database</h3>

          <p>Add sample data to be used for testing purposes. <strong>Avoid using this in production.</strong></p>

          <div
            class="button-group"
            @click="onDatabaseSeedRequested()"
          >
            <button>
              <fa-icon icon="seedling" />
              Seed database
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { ref } from 'vue';

import { makeGet } from '@shared/requests';

const requestDatabaseReset = makeGet('/database-configuration/reset');
const requestDatabaseSeed = makeGet('/database-configuration/seed');

export default {
  setup() {
    const processingResetRequest = ref(false);
    const processingSeedRequest = ref(false);

    const onDatabaseResetRequested = async () => {
      processingResetRequest.value = true;

      try {
        await requestDatabaseReset();
      } finally {
        processingResetRequest.value = false;
      }
    };

    const onDatabaseSeedRequested = async () => {
      processingSeedRequest.value = true;

      try {
        await requestDatabaseSeed();
      } finally {
        processingSeedRequest.value = false;
      }
    };

    return {
      processingResetRequest,
      processingSeedRequest,

      onDatabaseResetRequested,
      onDatabaseSeedRequested
    };
  }
};

</script>
