<template>
  <main class="user-configuration">
    <h2>
      <fa-icon icon="user-friends" />
      Users
    </h2>

    <section>
      <h3>Create user</h3>
    </section>

    <section>
      <h3>View, edit and delete Users</h3>

      <div
        v-if="loadingResources"
        class="vld-parent"
      >
        <loading-overlay active />
      </div>

      <resource-table
        v-if="!loadingResources"
        :fields="[ 'email', 'actions' ]"
        :resource-index-state="resourceIndexState"
      />
    </section>
  </main>
</template>

<script>
import { makeResourceIndexState } from '@components/resources/resource-index-state';
import ResourceTable from '@components/resources/resource-table.vue';
import { fetchUsers } from '@shared/requests/authentication-requests';

export default {
  components: {
    ResourceTable
  },
  setup() {
    const resourceIndexState = makeResourceIndexState({
      fetchResources: fetchUsers
    });

    return {
      resourceIndexState,
      ...resourceIndexState
    };
  }
};
</script>
