<template>
  <hero
    :title="$t('homepage.hero_title')"
    :subtitle="$t('homepage.hero_subtitle')"
    background-url="https://picjumbo.com/wp-content/uploads/leaf-leaves-background-1080x720.jpg"
  >
    <homepage-hero-search-form />
  </hero>

  <main>
    <h3>{{ $t('homepage.intro_title') }}</h3>
    <p>{{ $t('homepage.intro_content') }}</p>
  </main>
</template>

<script>
import Hero from '@frontendComponents/hero.vue';
import HomepageHeroSearchForm from './homepage-hero-search-form.vue';

export default {
  components: {
    Hero,
    HomepageHeroSearchForm
  }
};
</script>
