<template>
  <form @submit.prevent="onSubmitted()">
    <label for="universal-search-input">
      <fa-icon
        icon="search"
        :aria-label="$t('search.aria_label')"
      />
    </label>

    <input
      id="universal-search-input"
      v-model="searchQuery"
      class="universal-search-input"
      placeholder="Calcium ascorbate"
    >
  </form>
</template>

<script>
import { ref } from 'vue';
import { useRouter } from 'vue-router';

export default {
  setup() {
    const router = useRouter();
    const searchQuery = ref('');

    const onSubmitted = () => {
      router.push({
        name: 'universalSearchResults',
        query: { query: searchQuery.value }
      });
    };

    return {
      searchQuery,
      onSubmitted
    };
  }
};
</script>

<style lang="scss">
.universal-search-input {
  margin-left: 0.8rem;
  // TODO: Use a variable
  border-bottom: #cfcfcf 2px dotted;
}
</style>
