<template>
  <div class="button-group">
    <button
      v-if="allowedCreationMethods.includes('form')"
      class="button--green"
      @click="selectedCreationMethod = 'form'"
    >
      <fa-icon icon="plus" />
      Add Blank {{ resourceName }}
    </button>

    <button
      v-if="allowedCreationMethods.includes('json')"
      @click="selectedCreationMethod = 'json'"
    >
      <fa-icon icon="file-upload" />
      JSON
    </button>
  </div>

  <form
    v-if="selectedCreationMethod"
    class="card vld-parent"
    @submit.prevent="onResourceCreated()"
  >
    <loading-overlay :active="processingCreateRequest" />

    <slot
      v-if="selectedCreationMethod === 'form'"
      name="form"
      :form-input="formInput"
    />

    <template v-if="selectedCreationMethod === 'json'">
      <label for="ingredients__json-input">
        Copy your JSON code here or build the entire resource from scratch.
      </label>
      <textarea
        id="ingredients__json-input"
        v-model="jsonInput"
        rows="8"
      />
    </template>

    <div class="button-group">
      <button
        class="button--green"
        type="submit"
      >
        <fa-icon icon="check" />
        Submit
      </button>

      <button
        class="button--red"
        @click.prevent="selectedCreationMethod = null"
      >
        <fa-icon icon="times" />
        Cancel
      </button>
    </div>
  </form>
</template>

<script>
import { ref } from 'vue';

export default {
  props: {
    resourceName: { type: String, required: true },
    createResource: { type: Function, required: true },
    allowedCreationMethods: { type: Array, default: () => [ 'form', 'json' ] }
  },
  emits: [
    'resource-created'
  ],
  setup(props, { emit }) {
    const processingCreateRequest = ref(false);
    const selectedCreationMethod = ref(null);

    const formInput = ref({});
    const jsonInput = ref('');

    const onResourceCreated = async () => {
      processingCreateRequest.value = true;

      const payload = selectedCreationMethod.value === 'json'
        ? JSON.parse(jsonInput.value)
        : formInput.value;

      try {
        await props.createResource(payload);

        jsonInput.value = '';
        formInput.value = {};
        selectedCreationMethod.value = null;

        emit('resource-created');
      } catch (error) {
        // TODO: Actually, create an object with a list of validation errors and pass it to the slot.
        console.log(error);
      } finally {
        processingCreateRequest.value = false;
      }
    };

    return {
      processingCreateRequest,
      selectedCreationMethod,
      onResourceCreated,

      formInput,
      jsonInput
    };
  }
};
</script>
