<template>
  <div v-if="resourcePaginationData.docs?.length < 1">
    <span>No results for the given query.</span>
  </div>

  <div class="resource-table">
    <table :class="{ 'resource-table--resource-links': createResourceLink }">
      <tr
        v-for="resource in resourcePaginationData.docs"
        :key="resource._id"
        @click.native="onResourceRowClicked(resource)"
      >
        <td
          v-for="field in fields"
          :key="field"
        >
          <template v-if="field === 'actions'">
            <div class="button-group justify-content-end">
              <button
                class="button--circle"
                @click.stop.prevent="onResourceRowClicked(resource)"
              >
                <fa-icon icon="pencil-alt" />
              </button>

              <button
                class="button--red button--circle"
                @click.stop.prevent="resourceIndexState.onResourceDeleted(resource)"
              >
                <fa-icon icon="trash" />
              </button>
            </div>
          </template>

          <template v-if="field === 'publication'">
            <fa-icon
              v-if="resource.published"
              icon="check-double"
              title="Published"
              style="margin-left: 1.6rem; color: green;"
            />
          </template>

          <template v-else>
            {{ resource[field] }}
          </template>
        </td>
      </tr>
    </table>

    <div class="table-footer">
      <small>
        Viewing
        <strong>{{ resourcePaginationData.docs.length }}</strong>
        <template v-if="typeof resourcePaginationData.totalDocs === 'number'">
          out of <strong>{{ resourcePaginationData.totalDocs }}</strong>
        </template>
        resources.
      </small>

      <div class="button-group">
        <button
          class="button--circle"
          :disabled="!resourcePaginationData.hasPrevPage"
          @click.prevent="navigateToPreviousPage()"
        >
          <fa-icon icon="arrow-left" />
        </button>
        <button
          class="button--circle"
          :disabled="!resourcePaginationData.hasNextPage"
          @click.prevent="navigateToNextPage()"
        >
          <fa-icon icon="arrow-right" />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { useRouter } from 'vue-router';

export default {
  props: {
    resourceIndexState: { type: Object, required: true },
    fields: { type: Array, default: () => [ 'label', 'publication', 'actions' ] },
    createResourceLink: { type: Function, default: null },
  },
  setup(props) {
    const router = useRouter();

    const onResourceRowClicked = (resource) => {
      if (props.createResourceLink) {
        router.push(props.createResourceLink(resource));
      }
    };

    return {
      ...props.resourceIndexState,
      onResourceRowClicked
    };
  }
};
</script>

<style lang="scss">
.resource-table {
  table {
    width: 100%;
    margin-bottom: 1.6rem;
  }

  .table-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.2rem;
    background-color: #eeeeee;
    border-radius: 12px;
  }

  .table-footer small {
    margin: auto;
  }

  &--resource-links tr {
    cursor: pointer;
  }
}
</style>
