<template>
  <form
    class="card vld-parent"
    @submit.prevent
  >
    <loading-overlay :active="processingSaveRequest" />
    <h3>Visibility</h3>

    <template v-if="resource.published">
      <p>
        This resource is <strong>published</strong> and can be accessed freely by end users.
      </p>

      <div class="button-group">
        <button @click="unpublishResource()">
          <fa-icon icon="eye-slash" />
          Unpublish
        </button>
      </div>
    </template>

    <template v-else>
      <p>
        This resource is <strong>unpublished</strong> so end users cannot access it. Publish it when ready.
      </p>

      <div class="button-group">
        <button
          class="button--green"
          @click="publishResource()"
        >
          <fa-icon icon="check-double" />
          Publish
        </button>
      </div>
    </template>
  </form>
</template>

<script>
import { ref } from 'vue';

export default {
  props: {
    resource: { type: Object, required: true },
    patchResource: { type: Function, required: true }
  },
  emits: [
    'resource-patched'
  ],
  setup(props, { emit }) {
    const processingSaveRequest = ref(false);

    const updateResource = async (published) => {
      processingSaveRequest.value = true;

      try {
        await props.patchResource(props.resource._id, { published });

        emit('resource-patched');
      } finally {
        processingSaveRequest.value = false;
      }
    };

    const publishResource = () => updateResource(true);
    const unpublishResource = () => updateResource(false);

    return {
      processingSaveRequest,
      publishResource,
      unpublishResource
    };
  }
};
</script>
