<template>
  <form
    class="card vld-parent"
    @submit.prevent="onResourceSaved()"
  >
    <loading-overlay :active="processingSaveRequest" />

    <h3 v-if="title">
      {{ title }}
    </h3>

    <template
      v-for="field in fields"
      :key="field.key"
    >
      <label :for="field.key">
        {{ getFieldLabel(field) }}
      </label>

      <input
        v-if="field.type === 'text'"
        :id="field.key"
        v-model="formInput[field.key]"
      >

      <textarea
        v-else-if="field.type === 'textarea'"
        :id="field.key"
        v-model="formInput[field.key]"
        rows="8"
      />

      <multiselect
        v-else-if="field.type === 'multiselect'"
        :values="formInput[field.key]"
        :input-id="field.key"
        :input-placeholder="field.placeholder"
        :generate-label="field.generateLabel"
        :get-selectable-values="field.getSelectableValues"
        @value-added="formInput[field.key] = [ ...(formInput[field.key] || []), $event ]"
        @value-removed="formInput[field.key] = formInput[field.key].filter((value) => value !== $event)"
      />

      <div
        v-else-if="field.type === 'imageUrl'"
        class="form-input img-url-input"
      >
        <img
          v-if="formInput[field.key]"
          :src="formInput[field.key]"
          width="50"
          @error="onImageLoadError($event)"
        >
        <input
          :id="field.key"
          v-model="formInput[field.key]"
        >
      </div>
    </template>

    <div class="button-group">
      <button type="submit">
        <fa-icon icon="check" />
        Save
      </button>
    </div>
  </form>
</template>

<script>
import { ref, reactive, watch } from 'vue';
import Multiselect from '@components/multiselect.vue';

export default {
  components: {
    Multiselect
  },
  props: {
    resource: { type: Object, required: true },
    fields: { type: Array, required: true },
    patchResource: { type: Function, required: true },
    title: { type: String, default: null }
  },
  emits: [
    'resource-patched'
  ],
  setup(props, { emit }) {
    const formInput = reactive({});
    const processingSaveRequest = ref(false);

    const syncInputsWithResource = () => {
      props.fields.forEach((field) => {
        formInput[field.key] = props.resource[field.key];
      });
    };

    watch(() => props.resource, () => syncInputsWithResource);
    syncInputsWithResource();

    const onResourceSaved = async () => {
      processingSaveRequest.value = true;

      try {
        await props.patchResource(props.resource._id, formInput);

        emit('resource-patched');
      } finally {
        processingSaveRequest.value = false;
      }
    };

    const getFieldLabel = (field) => field.label || field.key[0].toUpperCase() + field.key.substring(1);

    const onImageLoadError = (event) => {
      event.currentTarget.src = 'https://via.placeholder.com/60x60.png?text=?';
    };

    return {
      formInput,
      processingSaveRequest,
      onResourceSaved,
      getFieldLabel,
      onImageLoadError
    };
  }
};
</script>
