<template>
  <main class="products">
    <h2>
      <fa-icon icon="prescription-bottle" />
      Products
    </h2>

    <section>
      <h3>Create product</h3>

      <resource-creation-form
        :create-resource="createProduct"
        resource-name="Product"
        @resource-created="fetchResources()"
      >
        <template #form="{ formInput }">
          <label for="products__label-input">
            Initial Product label:
          </label>
          <input
            id="products__label-input"
            v-model="formInput.label"
          >
        </template>
      </resource-creation-form>
    </section>

    <section>
      <h3>View, edit and delete Products</h3>

      <div
        v-if="loadingResources"
        class="vld-parent"
      >
        <loading-overlay active />
      </div>

      <resource-table
        v-if="!loadingResources"
        :resource-index-state="resourceIndexState"
        :create-resource-link="(product) => ({ name: 'productDetails', params: { productId: product._id } })"
      />
    </section>
  </main>
</template>

<script>
import { makeResourceIndexState } from '@components/resources/resource-index-state';
import ResourceCreationForm from '@components/resources/resource-creation-form.vue';
import ResourceTable from '@components/resources/resource-table.vue';
import { fetchProducts, deleteProduct, createProduct } from '@shared/requests/product-requests';

export default {
  components: {
    ResourceCreationForm,
    ResourceTable
  },
  setup() {
    const resourceIndexState = makeResourceIndexState({
      fetchResources: fetchProducts,
      deleteResource: deleteProduct
    });

    return {
      resourceIndexState,
      ...resourceIndexState,

      // TODO: Really expose it like this? Clean this up.
      createProduct
    };
  }
};
</script>
