<template>
  <main class="product-details vld-parent">
    <loading-overlay :active="loadingProduct" />

    <template v-if="!loadingProduct">
      <h2>
        <!-- TODO: Add color to this icon -->
        <fa-icon icon="prescription-bottle" />
        {{ product.label }}
      </h2>

      <div class="column-container">
        <div class="column">
          <resource-publication-form
            :resource="product"
            :patch-resource="patchProduct"
            @resource-patched="refreshProduct"
          />

          <resource-patch-form
            :resource="product"
            :fields="[
              { key: 'label', type: 'text' },
              { key: 'description', type: 'textarea' },
              {
                key: 'ingredients',
                type: 'multiselect',
                placeholder: 'Ingredient label...',
                generateLabel: (ingredient) => ingredient.label,
                getSelectableValues: getSelectableIngredientValues
              },
              { key: 'thumbnail', type: 'imageUrl' },
              { key: 'externalLinkId', type: 'text', label: 'External link ID' }
            ]"
            :patch-resource="patchProduct"
            title="Basic Information"
            @resource-patched="refreshProduct()"
          />
        </div>

        <div class="column">
          <div class="card">
            <h3>Export</h3>

            <code-snippet
              :code="productJson"
              label="JSON"
            />
          </div>
        </div>
      </div>
    </template>
  </main>
</template>

<script>
import { computed, ref } from 'vue';

import ResourcePublicationForm from '@components/resources/resource-publication-form.vue';
import ResourcePatchForm from '@components/resources/resource-patch-form.vue';
import CodeSnippet from '@components/code-snippet.vue';
import { fetchProduct, patchProduct } from '@shared/requests/product-requests';
import { fetchIngredients } from '@shared/requests/ingredient-requests';

export default {
  components: {
    ResourcePublicationForm,
    ResourcePatchForm,
    CodeSnippet
  },
  props: {
    productId: { type: String, required: true }
  },
  setup(props) {
    const loadingProduct = ref(true);
    const product = ref(null);

    const refreshProduct = async () => {
      try {
        product.value = await fetchProduct(props.productId);
      } finally {
        loadingProduct.value = false;
      }
    };

    refreshProduct();

    const productJson = computed(() => JSON.stringify(product.value, null, '  '));

    const getSelectableIngredientValues = (selectedValues) => fetchIngredients({
      all: 'true',
      exclude: selectedValues.map((value) => value._id).join(';')
    });

    return {
      loadingProduct,
      product,
      patchProduct,
      refreshProduct,
      productJson,

      getSelectableIngredientValues
    };
  }
};
</script>
