<template>
  <div
    :class="[ `universal-search-result-card--${resourceType}` ]"
    class="universal-search-result-card"
    @click="$router.push(resourceRoute)"
  >
    <img
      :src="resource.thumbnail || 'https://via.placeholder.com/100x100.png?text=?'"
      alt="Product or ingredient thumbnail"
    >

    <div class="text-content">
      <h4>
        <span>
          <!-- TODO: Create reusable classes -->
          <fa-icon
            :icon="{ 'ingredient': 'leaf', 'product': 'prescription-bottle' }[resourceType]"
            :style="{ 'color': { 'ingredient': '#8c8', 'product': '#88c' }[resourceType]}"
          />

          <router-link :to="resourceRoute">
            {{ resource.label }}
          </router-link>
        </span>

        <span
          v-if="isBestMatch"
          class="best-match-label"
        >
          <fa-icon icon="bullseye" />

          Best match
        </span>
      </h4>

      <p>
        {{ getTruncatedDescription(resource.description) }}
      </p>

      <div
        v-if="resourceType === 'product'"
        class="product-ingredients"
      >
        <ul>
          <li
            v-for="ingredient in resource.ingredients"
            :key="ingredient._id"
          >
            <router-link
              :to="{ name: 'ingredientDetails', params: { ingredientId: ingredient._id } }"
            >
              {{ ingredient.label }}
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';

export default {
  props: {
    resource: { type: Object, required: true },
    isBestMatch: { type: Boolean, default: false }
  },
  setup(props) {
    const resourceType = computed(() => props.resource.resourceType);

    const resourceRoute = computed(() => ({
      name: `${resourceType.value}Details`,
      params: { [`${resourceType.value}Id`]: props.resource._id }
    }));

    const getTruncatedDescription = (description) => {
      const targetLength = 120;
      return description.substring(0, targetLength) + (description.length > targetLength ? '...' : '');
    };

    return {
      resourceType,
      resourceRoute,
      getTruncatedDescription
    };
  }
};
</script>

<style lang="scss">
@import '~@shared/styles/variables';
@import '~@shared/styles/mixins';

.universal-search-result-card {
  @include scale-on-hover();

  display: flex;
  flex-direction: column;
  padding: 1.8rem;
  // TODO: Use a variable
  background-color: #f3f3f3;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;

  @include widescreen-only() {
    flex-direction: row;
  }

  img {
    margin: auto auto 1.6rem;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 12px;

    @include widescreen-only() {
      margin: auto 1.8rem auto 0;
    }
  }

  h4 {
    display: flex;
    flex-direction: column;
  }

  h4 svg {
    margin-right: 0.8rem;
  }

  .best-match-label {
    // TODO: Use a variable
    color: #992222;
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 0.4rem;
  }

  p {
    color: $gray-1;
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
  }

  // TODO: This could also be its own component
  .product-ingredients ul {
    display: flex;
    flex-wrap: wrap;
  }

  .product-ingredients li {
    display: flex;
    margin-bottom: 0.8rem;

    &:not(:last-child) {
      margin-right: 0.8rem;
    }
  }

  .product-ingredients a {
    font-size: 1.4rem;
    // TODO: Use a variable
    color: #228822;
    padding: 0.6rem;
    border: 1px #228822 solid;
    border-radius: 6px;
    transition: background-color, color 0.2s ease;

    &:hover,
    &:focus {
      background-color: #228822;
      color: $white;
    }
  }
}
</style>
