<template>
  <main class="universal-search-results vld-parent">
    <form @submit.prevent="updateSearchResults()">
      <label for="universal-search-query-input">
        Search:
      </label>
      <input
        id="universal-search-query-input"
        v-model="searchQuery"
      >
    </form>

    <loading-overlay v-if="loadingSearchResults" />

    <ul class="result-list">
      <li
        v-for="(resource, index) in searchResults"
        :key="resource._id"
      >
        <universal-search-result-card
          :resource="resource"
          :is-best-match="index === 0"
        />
      </li>
    </ul>
  </main>
</template>

<script>
import { ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';

import { makeGet } from '@shared/requests';
import UniversalSearchResultCard from './universal-search-result-card.vue';

const fetchSearchResults = makeGet('/universal-search');

export default {
  components: {
    UniversalSearchResultCard
  },
  async setup() {
    const route = useRoute();
    const router = useRouter();

    const searchQuery = ref(route.query.query || '');
    const searchResults = ref([]);
    const loadingSearchResults = ref(true);

    const updateSearchResults = async () => {
      searchResults.value = [];
      loadingSearchResults.value = true;

      await router.replace({ query: { query: searchQuery.value } });

      try {
        searchResults.value = await fetchSearchResults({ query: searchQuery.value });
      } finally {
        loadingSearchResults.value = false;
      }
    };

    await updateSearchResults();

    return {
      searchQuery,
      searchResults,
      loadingSearchResults,
      updateSearchResults
    };
  }
};
</script>

<style lang="scss">
.universal-search-results {
  form {
    // TODO: Create a general styling for forms.
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }

  .result-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2.4rem;
  }
}
</style>
