<template>
  <side-navigation
    v-if="authenticationToken"
  />

  <router-view
    :class="{ 'no-sidebar': !authenticationToken }"
  />
</template>

<script>
import SideNavigation from './components/side-navigation.vue';
import { authenticationToken } from '@shared/authentication';

export default {
  components: {
    SideNavigation
  },
  setup() {
    return {
      authenticationToken
    };
  }
};
</script>

<style lang="scss">
#app {
  height: 100%;
}

main {
  padding: 3.6rem 6.4rem;
  display: flex;
  flex-direction: column;
  height: 100%;

  &:not(.no-sidebar) {
    margin-left: 280px;
  }
}
</style>
