@import '~@shared/styles/mixins';

button,
.button {
  color: $white;
  font-size: 1.4rem;
  text-align: center;
  padding: 1.2rem 2.2rem;
  background-color: $blue-1;
  border-radius: 24px;
  transition: transform 0.2s ease;
  outline: none;
  cursor: pointer;

  @include box-shadow();

  svg {
    margin-right: 0.8rem;
  }

  &[disabled] {
    // TODO: Use a variable
    cursor: not-allowed;
    background-color: #AFAFAF;
  }

  &:hover {
    transform: scale(1.05);
  }

  &:active,
  &:focus {
    @include button-active-state($blue-1);
  }

  &.button--green {
    // TODO: Use a variable
    background-color: green;
    @include button-active-state(green, 4%);
  }

  &.button--red {
    // TODO: Use a variable
    background-color: hsl(5, 72%, 44%);
    @include button-active-state(hsl(5, 72%, 44%));
  }

  &.button--circle {
    width: 3.825rem;
    height: 3.825rem;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    svg {
      margin: 0;
    }
  }
}

.button-group {
  display: flex;
  flex-wrap: wrap;

  button + button {
    margin-left: 1.6rem;
  }
}
