@import '~@shared/styles/variables';
@import '~@shared/styles/mixins';

:root {
  font-size: 10px;
}

html {
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: $font-family-admin-content;
  // TODO: Use a variable
  color: #4d4d4d;
  height: 100%;
}

p:not(:last-child) {
  margin-bottom: 2.4rem;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

h2 {
  padding: 1.6rem 3.6rem;
  color: $white;
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 3.6rem;
  background-color: $blue-1;
  border-radius: 32px;

  @include box-shadow();

  svg {
    margin-right: 1.2rem;
  }
}

h3 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1.8rem;
  // TODO: Use a variable
  color: #181818;
}

hr {
  display: block;
  width: 100%;
  height: 2px;
  background-color: $blue-1;
  margin: 1.6rem 0;
}

section {
  display: flex;
  flex-direction: column;

  & + section {
    margin-top: 5.6rem;
  }
}

.column-container {
  display: flex;
  flex-direction: column;
  max-width: 112rem;

  @media only screen and (min-width: 1200px) {
    flex-direction: row;

    .column {
      flex: 1;
    }

    .column + .column {
      margin-left: 2.4rem;
    }
  }
}

.vld-parent {
  min-height: 45px;
}
