@import '~@shared/styles/variables';

form {
  display: flex;
  flex-direction: column;

  input:not(:last-child),
  textarea:not(:last-child),
  .form-input:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  input,
  textarea,
  select {
    padding: 0.8rem 1.2rem;
    background-color: $white;
    border-radius: 20px;
    resize: none;
    // TODO: Use a variable
    border: 3px #cecece solid;
    outline: none;

    &:focus {
      // TODO: Use a variable
      border-color: lighten($blue-1, 40%);
    }

    &.invalid {
      border-color: lighten($red-1, 40%);
    }
  }

  .error-description {
    color: $red-1;
    margin-bottom: 1.8rem;
    text-align: center;
  }

  .img-url-input {
    display: flex;
    align-items: center;

    img {
      padding: 0.8rem;
      width: 60px;
      height: 60px;
      margin-right: 1.6rem;
      background-color: white;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}

label {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
}
