::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  // TODO: Use a variable;
  background: #e0e0e0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  // TODO: Use a variable
  background: #e0e0ff;
}

