table {
  tr {
    transition: background-color 0.05s ease;

    &:nth-child(odd) {
      // TODO: Move this to a variable
      background-color: #eeeeee;
    }

    &:hover {
      background-color: $pastel-blue;
    }
  }

  td, th {
    padding: 1.2rem;
  }
}
