<template>
  <main class="resource-details">
    <section>
      <h2>{{ ingredient.label }}</h2>

      <p>{{ ingredient.description }}</p>
    </section>

    <section>
      <img
        :src="ingredient.thumbnail || 'https://via.placeholder.com/100x100.png?text=?'"
        alt="Product or ingredient thumbnail"
      >
    </section>
  </main>
</template>

<script>
import { ref } from 'vue';

import { fetchIngredient } from '@shared/requests/ingredient-requests';

export default {
  props: {
    ingredientId: { type: String, required: true }
  },
  async setup(props) {
    const ingredient = ref(null);

    const refreshIngredient = async () => {
      ingredient.value = await fetchIngredient(props.ingredientId);
    };

    await refreshIngredient();

    return {
      ingredient
    };
  }
};
</script>
