<template>
  <main class="universal-search">
    <h2>
      <fa-icon icon="search" />
      Universal Search Tester
    </h2>

    <form @submit.prevent>
      <label for="universal-search__query">Search:</label>
      <input
        id="universal-search__query"
        v-model="searchQuery"
      >
    </form>

    <ul>
      <li
        v-for="resource in searchResults"
        :key="resource._id"
        class="card"
      >
        <router-link
          :to="{
            name: `${resource.resourceType}Details`,
            params: { [`${resource.resourceType}Id`]: resource._id }
          }"
        >
          <fa-icon
            :icon="{ ingredient: 'leaf', product: 'prescription-bottle' }[resource.resourceType]"
            :style="{ 'color': { ingredient: '#6a6', product: '#66a' }[resource.resourceType] }"
            class="resource-icon"
          />
          {{ resource.label }}
        </router-link>

        <small>
          <fa-icon icon="star-half-alt" />
          {{ parseFloat(resource.confidenceScore).toFixed(2) }}
        </small>
      </li>
    </ul>

    <p v-if="searchResults.length < 1">
      No results for the given query.
    </p>
  </main>
</template>

<script>
import { ref, watch } from 'vue';
import { makeGet } from '@shared/requests';

const fetchSearchResults = makeGet('/universal-search');

export default {
  setup() {
    const searchResults = ref([]);
    const searchQuery = ref('');

    const updateSearchResults = async () => {
      searchResults.value = await fetchSearchResults({ query: searchQuery.value });
    };

    watch([ searchQuery ], updateSearchResults);

    return {
      searchResults,
      searchQuery
    };
  }
};
</script>

<style lang="scss">
.universal-search {
  .resource-icon {
    margin-right: 0.8rem;
  }

  ul {
    margin-top: 1.6rem;
  }

  li small {
    margin-left: 1.6rem;
  }
}
</style>
