<template>
  <main class="ingredient-details vld-parent">
    <loading-overlay :active="loadingIngredient" />

    <template v-if="!loadingIngredient">
      <h2>
        <fa-icon icon="leaf" />
        {{ ingredient.label }}
      </h2>

      <div class="column-container">
        <div class="column">
          <resource-publication-form
            :resource="ingredient"
            :patch-resource="patchIngredient"
            @resource-patched="refreshIngredient()"
          />

          <resource-patch-form
            :resource="ingredient"
            :fields="[
              { key: 'label', type: 'text' },
              { key: 'description', type: 'textarea' },
              { key: 'thumbnail', type: 'imageUrl' }
            ]"
            :patch-resource="patchIngredient"
            title="Basic Information"
            @resource-patched="refreshIngredient()"
          />
        </div>

        <div class="column">
          <div class="card">
            <h3>Export</h3>

            <code-snippet
              :code="ingredientJson"
              label="JSON"
            />
          </div>
        </div>
      </div>
    </template>
  </main>
</template>

<script>
import { ref, computed } from 'vue';

import ResourcePublicationForm from '@components/resources/resource-publication-form.vue';
import ResourcePatchForm from '@components/resources/resource-patch-form.vue';
import CodeSnippet from '@components/code-snippet.vue';

import { fetchIngredient, patchIngredient } from '@shared/requests/ingredient-requests';

export default {
  components: {
    ResourcePublicationForm,
    ResourcePatchForm,
    CodeSnippet
  },
  props: {
    ingredientId: { type: String, required: true }
  },
  setup(props) {
    const loadingIngredient = ref(true);
    const ingredient = ref(null);

    const refreshIngredient = async () => {
      try {
        ingredient.value = await fetchIngredient(props.ingredientId);
      } finally {
        loadingIngredient.value = false;
      }
    };

    refreshIngredient();

    const ingredientJson = computed(() => JSON.stringify(ingredient.value, null, '  '));

    return {
      loadingIngredient,
      ingredient,
      patchIngredient,
      refreshIngredient,
      ingredientJson
    };
  }
};
</script>
