<template>
  <main class="ingredients">
    <h2>
      <fa-icon icon="leaf" />
      Ingredients
    </h2>

    <section>
      <h3>Create ingredient</h3>

      <resource-creation-form
        :create-resource="createIngredient"
        resource-name="Ingredient"
        @resource-created="fetchResources()"
      >
        <template #form="{ formInput }">
          <label for="ingredients__label-input">
            Initial Ingredient label:
          </label>
          <input
            id="ingredients__label-input"
            v-model="formInput.label"
          >
        </template>
      </resource-creation-form>
    </section>

    <section>
      <h3>View, edit and delete Ingredients</h3>

      <!-- TODO: This should be part of the resource table itself. -->
      <form
        class="card"
        @submit.prevent="fetchResources()"
      >
        <input
          v-model="resourceQuery"
          placeholder="Search by label..."
        >
      </form>

      <hr>

      <div
        v-if="loadingResources"
        class="vld-parent"
      >
        <loading-overlay active />
      </div>

      <resource-table
        v-if="!loadingResources"
        :resource-index-state="resourceIndexState"
        :create-resource-link="(ingredient) => ({ name: 'ingredientDetails', params: { ingredientId: ingredient._id } })"
      />

      <hr>
    </section>
  </main>
</template>

<script>
import { makeResourceIndexState } from '@components/resources/resource-index-state';
import ResourceCreationForm from '@components/resources/resource-creation-form.vue';
import ResourceTable from '@components/resources/resource-table.vue';
import { fetchIngredients, deleteIngredient, createIngredient } from '@shared/requests/ingredient-requests';

export default {
  components: {
    ResourceCreationForm,
    ResourceTable
  },
  setup() {
    const resourceIndexState = makeResourceIndexState({
      fetchResources: fetchIngredients,
      deleteResource: deleteIngredient
    });

    return {
      resourceIndexState,
      ...resourceIndexState,

      // TODO: Really expose it like this? Clean this up.
      createIngredient
    };
  }
};
</script>
