@import '~@shared/styles/variables';

:root {
  font-size: 10px;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-frontend-content;
  font-size: 1.6rem;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: $font-family-frontend-headings;
  font-weight: bold;
}

h2 {
  font-size: 3.2rem;
  margin-bottom: 2.2rem;
}

h3 {
  font-size: 2.8rem;
  margin-bottom: 1.8rem;
}

h4 {
  font-size: 2.0rem;
  margin-bottom: 1.6rem;
}

a {
  text-decoration: none;

  &:focus {
    // TODO: Use a variable
    color: hsl(215, 33%, 45%);
  }
}

main {
  max-width: 80rem;
  padding: 2.8rem;
  margin: 4.2rem auto auto;
}
