@import '~@shared/styles/mixins';

.resource-details {
  display: flex;
  flex-direction: column;

  @include widescreen-only() {
    flex-direction: row;
  }

  section {
    flex: 1;
    margin-bottom: 2.4rem;

    @include widescreen-only() {
      margin: 1.6rem;
    }
  }

  img {
    width: 100%;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  .cta-button {
    // TODO: Use variables
    background-color: #226622;
    color: #ffffff;
    padding: 0.8rem;
    margin: 1.2rem 0;
    width: fit-content;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color transform 0.2s ease;

    @include button-active-state(#226622);

    &:hover {
      transform: scale(1.05);
    }
  }
}
