<template>
  <transition
    ref="root"
    name="fade"
  >
    <div
      v-show="isActive"
      :class="{ 'is-full-page': isFullPage }"
      :aria-busy="isActive"
      :style="{ zIndex }"
      class="vld-overlay is-active"
      aria-label="Loading"
      tabindex="0"
    >
      <div
        class="vld-background"
        :style="bgStyle"
      />
      <div class="vld-icon">
        <slot name="before" />
        <slot name="default">
          <bars-loader
            :color="color"
          />
        </slot>
        <slot name="after" />
      </div>
    </div>
  </transition>
</template>

<script>
import BarsLoader from './bars-loader.vue';

const MayBeHTMLElement = typeof window !== 'undefined' ? window.HTMLElement : Object;

export default {
  components: {
    BarsLoader
  },
  props: {
    active: { type: Boolean, default: true },
    container: [ Object, Function, MayBeHTMLElement ],
    isFullPage: { type: Boolean, default: false },
    color: { type: String, default: 'hsl(215, 33%, 26%)' },
    zIndex: Number
  },
  emits: [ 'hide', 'update:active' ],
  data() {
    return {
      isActive: this.active
    };
  },
  computed: {
    bgStyle() {
      return {
        backdropFilter: 'blur(2px)'
      };
    }
  },
  // TODO: Refactor to use Composition API
  watch: {
    active(value) {
      this.isActive = value;
    }
  },
  mounted() {
    document.addEventListener('focusin', this.onFocus);
  },
  beforeUnmount() {
    document.removeEventListener('focusin', this.onFocus);
  },
  methods: {
    hide() {
      this.$emit('hide');
      this.$emit('update:active', false);
    },

    onFocus(event) {
      if (!this.isActive || event.target === this.$refs.root || this.$refs.root.contains(event.target)) {
        return;
      }

      const parent = this.container ? this.container : (this.isFullPage ? null : this.$refs.root.parentElement);

      if (this.isFullPage || (parent && parent.contains(event.target))) {
        event.preventDefault();
        this.$refs.root.focus();
      }
    }
  }
};
</script>

<style>
.vld-shown {
  overflow: hidden;
}

.vld-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  z-index: 9999;
}

.vld-overlay.is-active {
  display: flex;
}

.vld-overlay.is-full-page {
  z-index: 9999;
  position: fixed;
}

.vld-overlay .vld-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  opacity: 0.5;
}

.vld-overlay .vld-icon,
.vld-parent {
  position: relative;
}
</style>
